/* static/style.css */

/* Gaya yang sudah ada */
form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="file"] {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* Penyesuaian untuk #imageContainer */
#imageContainer {
    margin-top: 20px;
    border: 2px solid black;
    padding: 10px;
    display: flex; /* Menggunakan flexbox untuk mengatur posisi */
    justify-content: center; /* Memusatkan konten secara horizontal */
    align-items: center; /* Memusatkan konten secara vertikal */
    overflow: hidden;
    border-radius: 8px;
    background-color: #f0f0f0;
}

#imageContainer img {
    max-width: 100%;
    height: auto;
    border-radius: 6px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

/* Gaya yang sudah ada */
#colorResult {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #333;
}
